<div ng-if="is_loading" class="loading_mask"></div>
<div ng-if="is_loading" class="loading" style="text-align:center;"><img src="./images/loading.gif" /></div>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">D-HUB LogViewer</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./select.html">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
    <div class="pull-right switch">
      <label style="color:white;">Off
        <input ng-model="is_autoupdate" type="checkbox" id="check-auto-update" checked="checked">
        <span class="lever"></span> On
      </label>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <main class="col-sm-12 pt-3" role="main">
      <div class="row text-xs-left">
        <div class="col-md-8 form-inline mt-2 mt-md-0">
          <input ng-model="searchdate" class="form-control mr-sm-2" id="search-date" style="width:500px;" type="text" placeholder="Search" aria-label="Search">
          <button ng-click="search()" class="btn btn-outline-success my-2 my-sm-0" id="btn-search" type="button">Search</button>
        </div>
        <div class="col-md-4">
          <div class="pull-right">
            <a class="btn-floating btn-small" id="btn-prev" ng-click="prev()"><i class="fa fa-chevron-left"></i></a>
            <a class="btn-floating btn-small" id="btn-next" ng-click="next()"><i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-fit" id="data-table">
          <thead>
            <tr class="top-row" bgcolor="slategray">
              <th style="padding:0px;">LogId</th>
              <th style="padding:0px;">RequestID</th>
              <th style="padding:0px;">Timestamp</th>
              <th style="padding:0px;">UserUtterance</th>
              <th style="padding:0px;">BotUtterance</th>
              <th style="padding:0px;">EnginName</th>
            </tr>
          </thead>
          <tbody>
          <div>
            <tr ng-repeat="log in logs" ng-click="toggle_detail($index)">
              <td style="color:green;padding:0px;">{{log.log_id}}</td>
              <td style="color:green;padding:0px;">{{log.request_id}}</td>
              <td style="color:green;padding:0px;">{{log.datetime}}</td>
              <td style="color:green;padding:0px;">{{log.user_utterance}}</td>
              <td style="color:green;padding:0px;">{{log.bot_utterance}}</td>
              <td style="color:green;padding:0px;" ng-class="{bottom_row : $last}">{{log.engine_name}}</td>
            </tr>
          </div>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
